body {
    margin: 0;  
}

#posttext{
    resize: none;
    width:59vw;
    margin-right: 100px
    
}

#title{
    width:25vw;
}

h1{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: bold;
    font-size: 30;
    background-color: #336B87;
    margin:0;
    padding-left: 250px;
    height: 80px;
    display: flex;
    align-items: center;
}

h2{
    color: #763626;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3{
    padding-top:60px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0px;
    color:#90AFC5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h4{
    padding: 0px;
    margin: 0px;
    padding-bottom: 20px;
    color:#763626;
    font-size: 11px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

label{
    color:#336B87;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: bold;
}

#egesz{
    display: flex;
    border:0;
    padding:5px;
}

#fo{
    padding-left:250px;
    flex: 0 0 20px;
}

#chart{
    flex: 100 0 20px;
    padding-top: 20px;    
}

#oldpostsk{
    color: #336B87;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width:59vw;
    margin-right: 100px;
    padding-bottom: 100px;
    word-break: break-all;
}


